In [ ]:
import numpy as np 
import pandas as pd

In [3]:
train_data = pd.read_csv("train1.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv("test1.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
women = train_data.loc[train_data.Sex == "female"]["Survived"]
woman_rate = sum(women)/len(women)
print("% of women that survived:",woman_rate)

% of women that survived: 0.7420382165605095

In [6]:
men = train_data.loc[train_data.Sex == "male"]["Survived"]
men_rate = sum(men) / len(men)
print("% of men that survived:", men_rate)

% of men that survived: 0.18890814558058924

In [8]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["SibSp","Parch","Sex", "Pclass"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=300, max_depth=5, random_state=1, min_samples_split=10)
model.fit(X, y)
prediction = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': prediction})
output.to_csv('submission.csv', index=False)
print(output.head())
print("saved to Submission.csv!")

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
saved to Submission.csv!

In [9]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'n_estimators': [100, 300, 500],
    'max_depth': [5, 10, 15, None],
    'min_samples_split': [2, 5, 10],
}
grid = GridSearchCV(RandomForestClassifier(random_state=1), param_grid, cv=5)
grid.fit(X, y)
print("Best params:", grid.best_params_)

Best params: {'max_depth': 5, 'min_samples_split': 10, 'n_estimators': 300}